<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Details</title>
</head>
<body>

    <h1>Details of {{ patient.user.first_name }} {{ patient.user.last_name }}</h1>
    <ul>
        <li><strong>Phone Number:</strong> {{ patient.phone_number }}</li>
        <li><strong>Date of Birth:</strong> {{ patient.date_of_birth }}</li>
        <li><strong>Current City:</strong> {{ patient.current_city }}</li>
        <li><strong>Gender:</strong> {{ patient.get_gender_display }}</li>
    </ul>
<hr />

    <h2>Diseases</h2>
    <ul>
        {% if diseases %}
            {% for disease in diseases %}
                <li><h3>{{ disease.disease }}</h3></li> 
                <li>Hereditary: {{ disease.get_hereditary_display }}</li> 
                <li>Started: {{ disease.disease_start_date }}</li>
            {% endfor %}
        {% else %}
                <li>No diseases recorded for this patient.</li>
        {% endif %}
    </ul>
<hr />
    <h2>Medications</h2>
    <ul>
        {% if medications %}
            {% for medication in medications %}
                <li><h3>{{medication.medication_name}}</h3></li> 
                <li>Medication_type: {{ medication.get_medication_type_display}}</li>
                <li>Medication_costs: {{ medication.get_medication_costs_display}}</li>
                <li> to use: {{medication.get_when_to_use}}</li>
            {% endfor %}
        {% else %}
            <li>No medication recorded for this patient.</li>
        {% endif %}

    </ul>

<hr />
    <h2>Allergies</h2>
    <ul>
        {% if allergies %}
            {% for allergie in allergies %}
                <li><h3>{{allergie.allergy_type}}</h3></li> 
                <li>Medication: {{ allergy.get_medications_display}}</li>
                <li>Hereditary: {{ allergy.get_hereditary_display}}</li>
                <li>Seasonal: {{allergy.get_sesional}}</li>
                <li>Which_season: {{allergy.which_season}}</li>
                <li>Causes: {{allergy.causes}}</li>
                
            {% endfor %}
        {% else %}
            <li>No Allergies recorded for this patient.</li>
        {% endif %}

    </ul>

<hr />
    <h2>Operations</h2>
    <ul>
        {% if operations %}
            {% for operation in operations %}
                <li><h3>{{operation.operation}}</h3></li> 
                <li>Doctor or Hospital: {{ operation.get_doctor_or_hospital}}</li>
                <li>Adress: {{ operation.get_operation_place}}</li>
                <li>Seasonal: {{operation.get_sesional}}</li>
                <li>Date: {{operation.operation_date}}</li>
                <li>Costs: {{operation.costs}}</li>
                
            {% endfor %}
        {% else %}
            <li>No Allergies recorded for this patient.</li>
        {% endif %}

    </ul>


<hr />
<h2>Appointments</h2>
<ul>
    {% if appointments %}
        {% for appointment in appointments %}
            <li>{{appointment.doctor}}</li> 
            <li>Date: {{ appointment.get_appointment_date}}</li>
            <li>Time: {{ appointment.get_appointment_time}}</li>
            <li>Adress: {{appointment.get_appointment_adress}}</li>
            <li>Accompany: {{appointment.accompany}}</li>
            
        {% endfor %}
    {% else %}
        <li>No Allergies recorded for this patient.</li>
    {% endif %}

</ul>


</body>

    <button onclick="location.href='{% url 'patient-urls:patient_list' %}'">Back to Patient List</button>
</body>
</html>
